
.top-banner {
  background: linear-gradient(180deg, #000 0%, #222 100%);
  border-radius: 20px;
  margin: 20px auto;
  padding: 10px;
  width: 90%;
  color: white;
}


.banner-images {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
  }
}

.texto{
  font-size: 35px;
  text-align: center;
}

.texto2{
  text-decoration: underline;
  text-align: center;
}

.boton1{
  margin-top: 8px;
  width: 100%;
  justify-items: center;
  --background: #000000;
  color: white;
}

.vs{
  display: flex;
  justify-content: space-between;
  padding-top: 55%;
}

.formulario{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 5px;
}

.login-form {
  width: 100%;
  max-width: 400px; /* Ancho máximo del formulario */
  background: var(--ion-background-color, #fff);
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

