<ion-toolbar>
  <ion-buttons class="fondo">
    <ion-button>
      <ion-img class="footer-imagenes" [routerLink]="'/home'" src="../../assets/img/casa.png"></ion-img>
    </ion-button>
    <ion-button>
      <ion-img class="footer-imagenes" [routerLink]="'/buscador'" src="../../assets/img/lupa.png"></ion-img>
    </ion-button>
    <ion-button>
      <ion-img class="footer-imagenes" [routerLink]="'/calendario'" src="../../assets/img/calendario.png"></ion-img>
    </ion-button>
    <ion-button>
      <ion-img class="footer-imagenes" [routerLink]="'/megusta'" src="../../assets/img/amor.png"></ion-img>
    </ion-button>
    <ion-button>
      <ion-img class="footer-imagenes" [routerLink]="'/instock'" src="../../assets/img/en-stock.png"></ion-img>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
