<app-header></app-header>

<div class="header-principal">
  <div class="textos-izquierda">
    <div class="titulo-con-fondo">
      <h1 class="T1">Veganos</h1>
    </div>
    <p class="RR">Recetas Recomendadas</p>
  </div>
  <div class="boton-derecha">
    <ion-button (click)="abrirFormulario()">+</ion-button>
  </div>
</div>

<ion-card [routerLink]="'/alimentoveganos'" class="tarjeta1">
  <div class="card-background"></div>
  <ion-card-header>
    <div>
      <ion-card-title>Ensalada Cesar Clásica</ion-card-title>
    </div>
  </ion-card-header>
</ion-card>

<ion-card [routerLink]="''" class="tarjeta2">
  <div class="card-background"></div>
  <ion-card-header>
    <div>
      <ion-card-title>Salteado de Vegetales con Tofu</ion-card-title>
    </div>
  </ion-card-header>
</ion-card>

<ion-card [routerLink]="''" class="tarjeta3">
  <div class="card-background"></div>
  <ion-card-header>
    <div>
      <ion-card-title>Ensalada Mediterránea de Quinoa</ion-card-title>
    </div>
  </ion-card-header>
</ion-card>

<ion-card [routerLink]="''" class="tarjeta4">
  <div class="card-background"></div>
  <ion-card-header>
    <div>
      <ion-card-title>Crema de Calabaza y Zanahoria</ion-card-title>
    </div>
  </ion-card-header>
</ion-card>
<app-footer></app-footer>
