h1{
  background-color: rgb(79, 117, 248);
  padding: 15px;
  display: inline-block;
  border-radius: 25px;
  margin-left: 20px;
}

ion-card h1{
  background-color: rgba(255, 255, 255, 0.65);
  color: black;
  padding: 15px;
  display: inline-block;
  border-radius: 25px;
  margin-left: 20px;
}

.tarjeta1 {
  height: 25%;
  overflow: hidden;
  background: url("../../assets/img/ensaladacesar.jpg");
  background-size: cover;
}
.tarjeta1 .card-background {
  width: 100%;
  height: 100%;
}

.imagen-megusta{
  width: 10%;
  height: 10%;
}

