ion-searchbar {
  --background: #f4f4f4;
}

h2 {
  margin-top: 10px;
  font-weight: 600;
}

ion-card {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

ion-card:hover {
  transform: scale(1.03);
}

ion-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
