<app-header></app-header>
<ion-card [routerLink]="'/veganos'" class="tarjeta1">
  <div class="card-background"></div>
  <ion-card-header>
    <ion-card-title>¡Para veganos!</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card [routerLink]="'/proteinas'" class="tarjeta2">
  <div class="card-background"></div>
  <ion-card-header>
    <ion-card-title>¡Proteínas!</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card [routerLink]="'/postres'" class="tarjeta3">
  <div class="card-background"></div>
  <ion-card-header>
    <ion-card-title>¡Postres!</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card [routerLink]="'/comidabasura'" class="tarjeta4">
  <div class="card-background"></div>
  <ion-card-header>
    <ion-card-title>¡Comida basura!</ion-card-title>
  </ion-card-header>
</ion-card>
<app-footer></app-footer>
