.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
  margin: auto;
}



.fondo-pantalla {
  --background: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;


  background-image: url("../../assets/img/hamburguesa.png");
  background-size: 500px auto;
  background-position: center 90%;
  background-repeat: no-repeat;
  background-attachment: scroll;


  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    z-index: 0;
  }
}

.fondo-pantalla > * {
  position: relative;
  z-index: 1;
}

.ion-img-footer {
  width: 10px;
  height: 10px;
}

.card-title {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: unset !important;
  font-size: 1.2rem;
  text-align: center;
}

.footer-text {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: unset !important;
  font-size: 0.9rem;
  text-align: center;
}

.texto-principal {
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  background-color: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-text-principal{
  background-color: #000000;
  color: white;
  padding-top: 15px;
  margin: 20px;
}

.texto1 {
  background-color: blue;
  color: white;
  padding: 15px;
  width: 50%;
  border-radius: 10px;
  text-align: center;
}

.botones-principales {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 70%;
  margin: 20px auto;
  align-items: center;
  font-size: 10px;
}

.botones-principales ion-button {
  --background: #000000;
  --color: #ffffff;
  font-family: 'Alata', sans-serif;
  font-size: 20px;
  height: 50px;
  width: 100%;
  --border-radius: 10px;
}
