<app-header></app-header>
<ion-content>
  <div class="top">
    <h1>Mi Stock</h1>
    <ion-button (click)=abrirFormularioIngrediente() color="secondary">Añadir</ion-button>
  </div>
  <ion-list>
    <ion-item>
      <div>
        <ion-checkbox justify="end">Leche</ion-checkbox>
        <ion-checkbox justify="end">Pasta</ion-checkbox>
        <ion-checkbox justify="end">Chocolate</ion-checkbox>
        <ion-checkbox justify="end">Pan</ion-checkbox>
        <ion-checkbox justify="end">Frutas</ion-checkbox>
        <ion-checkbox justify="end">Pizza</ion-checkbox>
        <ion-checkbox justify="end">Ensalada</ion-checkbox>
        <ion-checkbox justify="end">Cereales</ion-checkbox>
        <ion-checkbox justify="end">Gazpacho</ion-checkbox>
        <ion-checkbox justify="end">Salmorejo</ion-checkbox>
        <ion-checkbox justify="end">Galletas</ion-checkbox>
        <ion-checkbox justify="end">Aceite</ion-checkbox>
      </div>
    </ion-item>
    </ion-list>
</ion-content>
<app-footer></app-footer>
